<!doctype html>
<html>
       
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
		<p>
		<br>
		<strong><h2>   Did you see a new Sqiurrel?   </strong>
		</h2>
		<p>Please fill out the following information</p>
		<hr>
		<br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
			<p>Thanks you!</p>
                        <input type="submit" name="add">
			<br>
                </form>
		<br>
        </body>
</html>
