<!doctype html>
<html>
   <body>
    	<li>latitude: {{ sights.latitude }}</li>
	<li>longitude: {{ sights.longitude }}</li>	
	<li>ID: {{ sights.uniquesid }}</li>
	<li>shift: {{ sights.shift }}</li>
	<li>date: {{ sights.date }}</li>
	<li>age: {{ sights.age }}</li>
	<li>fur color: {{ sights.Primary_Fur_Color }}</li>
	<li>location: {{ sights.Location  }}</li>
	<li>specific location: {{ sights.Specific_Location }}</li>
	<li>running? {{ sights.Running  }}</li>
	<li>chasing?{{ sights.Chasing  }}</li>
	<li>climbing? {{ sights.Climbing  }}</li>
	<li>eating? {{ sights.Eating  }}</li>
	<li>foraging? {{ sights.Foraging  }}</li>
	<li>other activities: {{ sights.Other_Activities }}</li>
	<li>kuks? {{ sights.Kuks  }}</li>
	<li>quaas? {{ sights.Quaas  }}</li>
	<li>moans? {{ sights.Moans  }}</li>
	<li>tail flags: {{ sights.Tail_Flags }}</li>
	<li>tail twitches: {{ sights.Tail_Twitches }}</li>
	<li>approaches: {{ sights.Approaches  }}</li>
	<li>indifferent? {{ sights.Indifferent   }}</li>
	<li>runs from: {{ sights.Runs_From  }}</li>

   </body>
</html>
