<!doctype html>
<html lang='en'>
        <body>
<style>
      body {
        padding-left: 10px; padding-right: 10px;
      }
</style>
		<p>
		<br>
		<strong><h2>   Squirrel Tracker </strong></h2>
		<hr>
		</p>
		<p>
		<ul>
			<h5><li><a href="map">MAP</a> Click the button to view the squirrel tracking map.</li></h5>
			<h5><li><a href="sightings/stats">STATS</a> Click the button to look at some descriptive statistics.</li></h5>
			<h5><li><a href="sightings/add">ADD</a> Did you see a squirrel? Click the button to add a new squirrel sighting.</li></h5>
		</ul>
		</p>
		<br>
		<div>
                <table class="table">
			<div class="alert alert-dark text-center" role="alert">
				<h5><strong> Overview: Squirrel Sighting Records </strong></h5>
			</div>
			<thead class = "thead-dark">
                                <tr>
                                        <th scope = "col">Unique Squirrel Id</th>
					<th scope = "col">View Sighting Detail</th>
					<th scope = "col">View Update Sighting</th>
                                        <th scope = "col">Date</th>
                                </tr>
                        </thead>

                        <tbody>
                        {% for sight in sights %}
                                <tr>
                                        <td>{{ sight.uniquesid }}</td>
					<td><a href="sightings/details/{{sight.uniquesid}}">detail</a></td>
					<td><a href="sightings/{{sight.uniquesid}}">update</a></td>
                                        <td>{{ sight.date }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
		</div>
		<br>
		<br>
        </body>
</html>
