<!doctype html>
<html>
   <body>
      <h3 style="color:black">Some Stats about Squirrels</h3>
      <ul>
		<li>The number of adult squirrels is {{AdultCounts}}.</li>
		<li>Total of {{NumofRunning}} squirrels were running.</li>
		<li>Total of {{NumofEating}} squirrels were eating.</li>
		<li>Total of {{NumofChasing}} squirrels were chasing.</li>
		<li>Total of {{NumofForaging}} squirrels were foraing.</li>
      </ul>

      <p><a href="sightings">Go back to list of sightings</a></p>
  </body>
</html> 
