<!doctype html>
<html>
       
        <body>
<style>body{padding-left:10px; padding-right:10px;}</style>
                <p>
                <br>
		<strong><h2>  Update the Squirrel Sighting    </strong>
                </h2>
                <p>Please use the following form to update the squirrel sighting</p>
                <hr>
                <br>
                <form method='post'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <p>Thanks you! </p>
                        <input type="submit" name="save">
                        <br>
                </form>
                <br>
               
        </body>
</html>
